@page "/Config/ResourceGroups/{resourceguid}"
@using LSSD.Bookings
@using Microsoft.Extensions.Configuration

<AuthorizeView>
    <Authorized>

        @code {
            [Inject]
            IConfiguration Configuration { get; set; }

            [Inject]
            ResourceGroupService _repo {get;set;}

            [Parameter]
            public string resourceguid {get;set;}
        }

        @if (!context.User.Claims.Select(x => x.Value).Contains(Configuration["OIDC:AdminGroupID"])) {
            <WebFrontend.Components.AccessDeniedComponent />
        } else {
            <div style="width: 700px;">
                <h1>Edit Resource Group</h1>
                <div>

                @if (!string.IsNullOrEmpty(resourceguid)) {
                    ResourceGroup resourcegroup = _repo.Get(resourceguid);
                    if (resourcegroup != null) {
                        <WebFrontend.Components.EditResourceGroupComponent ResourceGroup="@resourcegroup" BackRoute="/Config/" />
                    } else {
                        <p>Resource not found.</p>
                    }
                } else {
                    <p>Resource not found (empty).</p>
                }

                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <WebFrontend.Components.LogInComponent />
    </NotAuthorized>
</AuthorizeView>