@page "/"
@using LSSD.Bookings
@using Microsoft.Extensions.Configuration
@using WebFrontend.Components
@code {
    [Inject]
    IConfiguration Configuration { get; set; }
    
    [Inject]
    ResourceService _repository { get; set; }

    [Inject]
    ResourceGroupService _groupRepository { get; set; }

    protected override void OnInitialized()
    {
        
    }

}

<AuthorizeView>
    <Authorized>
        
<div class="resource_group_container">
@{
    List<Resource> thisUserResources = _repository.GetForClaims(context.User.Claims.Select(x => x.Value).ToList()).ToList();
    Dictionary<Guid, List<Resource>> _allResources = new Dictionary<Guid, List<Resource>>();

    foreach(Resource resource in _repository.GetEnabled())
    {
        if (!_allResources.ContainsKey(resource.GroupGUID))
        {
            _allResources.Add(resource.GroupGUID, new List<Resource>());
        }

        _allResources[resource.GroupGUID].Add(resource);
    }
}

@foreach(ResourceGroup group in _groupRepository.GetAll().OrderBy(x => x.Name))
{    
    @if (_allResources.ContainsKey(group.Id)) 
    {
        <div class="resource_group">
        <h4>@group.Name</h4>

        @foreach(Resource res in _allResources[group.Id].OrderBy(x => x.Name)) 
        {
            <div class="resource_item">
                <div class="resource_name"><a href="/Resources/@(res.Id)"><span class="oi oi-calendar"></span> @res.Name</a></div>
                <div class="resource_description">@res.Description</div>
            </div>            
        }

        </div>
    }
}    
</div>

<br/>
        @if (context.User.Claims.Select(x => x.Value).Contains(Configuration["OIDC:AdminGroupID"])) {
            <div class="config_button">
                <a href="/Config">Config</a>
            </div>
        }
    </Authorized>
</AuthorizeView>