@page "/"
@using LSSD.Bookings
@using WebFrontend.Components
@code {
    
    [Inject]
    ResourceService _repository { get; set; }

    [Inject]
    ResourceGroupService _groupRepository { get; set; }

    Dictionary<Guid, List<Resource>> _allResources = new Dictionary<Guid, List<Resource>>();

    protected override void OnInitialized()
    {
        _allResources = new Dictionary<Guid, List<Resource>>();

        foreach(Resource resource in _repository.GetEnabled())
        {
            if (!_allResources.ContainsKey(resource.GroupGUID))
            {
                _allResources.Add(resource.GroupGUID, new List<Resource>());
            }

            _allResources[resource.GroupGUID].Add(resource);
        }
    }

}
<h1>LSSD Resource Booking System</h1>

<div class="resource_group_container">
@foreach(ResourceGroup group in _groupRepository.GetAll().OrderBy(x => x.Name))
{
    @if (_allResources.ContainsKey(group.Id)) 
    {
        <div class="resource_group">
        <h4>@group.Name</h4>

        @foreach(Resource res in _allResources[group.Id].OrderBy(x => x.Name)) 
        {
            <div class="resource_item">
                <div class="resource_name"><a href="/Resources/@(res.Id)">@res.Name</a></div>
                <div class="resource_description">@res.Description</div>
            </div>            
        }

        </div>
    }
}    
</div>

<br/><hr>
<a href="/Config">Config</a>
<LoginDisplay />