@using LSSD.Bookings

@code {

    [Parameter]
    public Guid resourceGuid { get; set; }

    [Parameter]
    public List<SingleBooking> Bookings { get; set; }

    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public DateTime Today { get; set; }
       
    DateTime _startDate;

    Dictionary<int, List<SingleBooking>> bookingsThisMonth = new Dictionary<int, List<SingleBooking>>();

    protected override void OnInitialized()
    {
        _startDate = new DateTime(Year, Month, 1);  

        // Organize bookings into dates that would be displayed
        List<SingleBooking> raw_bookingsthismonth = Bookings.Where(x =>
            (x.BookingDate.Year == _startDate.Year) &&
            (x.BookingDate.Month == _startDate.Month)
            ).ToList();

        foreach(SingleBooking booking in raw_bookingsthismonth) {
           if(!bookingsThisMonth.ContainsKey(booking.BookingDate.Day)) {
               bookingsThisMonth.Add(booking.BookingDate.Day, new List<SingleBooking>());
           }
           bookingsThisMonth[booking.BookingDate.Day].Add(booking);
        }
    } 

    protected void OnClick_PrevMonth() {
        _startDate = _startDate.AddMonths(-1);
    }

    protected void OnClick_NextMonth() {
        _startDate = _startDate.AddMonths(1);
    }

}

@{
    int dayCounter = ((int)_startDate.DayOfWeek * -1) + 1;
}

<div class="calendar_container">
    <div class="calendar_heading">
        <div class="calendar_nav_buttons">
            <button class="btn btn-link" @onclick="OnClick_PrevMonth">Previous Month</button>
            <button class="btn btn-link" @onclick="OnClick_NextMonth">Next Month</button>
        </div>
    <b>@(Helpers.MonthName(_startDate.Month))</b>
    </div>
    <br/>
    <div class="calendar_month">
    <div class="calenday_month_day_name">Sunday</div>
    <div class="calenday_month_day_name">Monday</div>
    <div class="calenday_month_day_name">Tuesday</div>
    <div class="calenday_month_day_name">Wednesday</div>
    <div class="calenday_month_day_name">Thursday</div>
    <div class="calenday_month_day_name">Friday</div>
    <div class="calenday_month_day_name">Saturday</div>

    @while(dayCounter <= DateTime.DaysInMonth(_startDate.Year, _startDate.Month))
    {
        for(int x = 0; x < 7; x++) {
            bool isToday = ((DateTime.Now.Year == _startDate.Year) && (DateTime.Now.Month == _startDate.Month) && (DateTime.Now.Day == dayCounter));
            
            @if ((dayCounter > 0) && (dayCounter <= DateTime.DaysInMonth(_startDate.Year, _startDate.Month))) 
            {            
                <div class="calendar_day">
                @if(isToday) {
                    <div id="today"></div>
                }
                <div class="calendar_day_number">
                    <a href="/Resources/@(resourceGuid)/Book/@(_startDate.Year)/@(_startDate.Month)/@(dayCounter)">@dayCounter</a>
                </div>
                @if(bookingsThisMonth.ContainsKey(dayCounter)) {
                    @foreach(SingleBooking booking in bookingsThisMonth[dayCounter].OrderBy(x => x.StartTimeUTC.Hour).ThenBy(x => x.StartTimeUTC.Minute)) 
                    {
                        <div class="calendar_item_preview">
                            <div class="calendar_item_preview_time">@(booking.StartTimeUTC.ToString("HH:mm"))-@(booking.EndTimeUTC.ToString("HH:mm"))</div>
                            <div class="calendar_item_preview_description">@(booking.ShortDescription)</div>
                        </div>
                    }
                }
                </div>            
            } else {
                <div class="calendar_day_nomonth">            
                </div>
            }
            dayCounter++;
        }
    }
    </div>
</div>
