@inherits LayoutComponentBase

@* Header goes here *@

<AuthorizeView>
    <Authorized>
        <div class="main">@Body</div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <a href="Account/Login">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>


